@using PagedList
@using PagedList.Mvc
@model IPagedList<MultiSubmitButtonSameView.Product>


<div>
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Ürün Adı
            </th>
            <th>
                Güncelleme Zamanı
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedDate)
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, _sayfaNo => Url.Action("Index", "Home", new { SayfaNo = _sayfaNo }))
</div>
